<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/mainStyle_20171109.css">
    <link rel="stylesheet" type="text/css" href="/css/popupStyle_20171215.css">
    <link rel="stylesheet" type="text/css" href="/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/js/common.js"></script>
    <script src="/lib/zTree_v3/js/jquery.ztree.all.js"></script>
    
    <title>결재선 지정</title>
</head>
<body>
    @RenderBody()
</body>
</html>