<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/mainStyle_20171109.css">
    <link rel="stylesheet" type="text/css" href="/lib/summernote-0.8.8-dist/dist/bootstrap-3.3.5.css">
    <link rel="stylesheet" type="text/css" href="/lib/summernote-0.8.8-dist/dist/summernote.css">
    <link rel="stylesheet" type="text/css" href="/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <script src="/lib/summernote-0.8.8-dist/dist/summernote.js"></script>
    <script src="/lib/zTree_v3/js/jquery.ztree.core.js"></script>
    
    <title>Document</title>
</head>
<body>
    @RenderBody()
</body>
</html>