@{
    Layout = "_MainLayout";
}

<table class="table table-list">
    <tr>
        <th class="header table-list__header">#</th>
        <th class="header table-list__header">양식명</th>
        <th class="header table-list__header">설명</th>
        <th class="header table-list__header">작성자</th>
        <th class="header table-list__header">버전</th>
    </tr>
    <tr>
        <td class="item table-list__item">4</td>
        <td class="item table-list__item">테스트 전자결재 문서</td>
        <td class="item table-list__item">이 칸이 어디까지 넘어가는지 테스트 하는 전자문서</td>
        <td class="item table-list__item">최경원</td>
        <td class="item table-list__item">D20171113</td>
    </tr>
    <tr>
        <td class="item table-list__item">60</td>
        <td class="item table-list__item">테스트 전자결재 문서</td>
        <td class="item table-list__item">이 칸이 어디까지 넘어가는지 테스트 하는 전자문서</td>
        <td class="item table-list__item">최경원</td>
        <td class="item table-list__item">D20171113</td>
    </tr>

    @foreach(var forms in Model)
    {
        <tr>
            <td class="item table-list__item">@forms.Seq</td>
            <td class="item table-list__item"><a href="/Approval/Write/WD001">@forms.Subject</a></td>
            <td class="item table-list__item">@forms.Explain</td>
            <td class="item table-list__item">Kristensen</td>
            <td class="item table-list__item">D20171113</td>
        </tr>
    }
</table>