@{
    Layout = "_OnlyEnviroment";
}

<div class="content">
    <div class="page-title">결재선지정</div>
    <div class="appr-line__search">
        <span class="lbl-area">이름검색</span>
        <input type="text" name="searchName" maxlength="20" size="20" />
        <button class="btn-search">검색</button>
    </div>

    <table class="appr-line">
        <tr>
            <td class="appr-line__emp-tree" rowspan="2">
                <div class="scroll">
                    <ul id="EmployeeList" class="ztree"></ul>
                </div>
            </td>
            <td class="appr-line__btn-area" rowspan="2">
                <p><button class="btn-base">결재자추가</button></p>
                <p><button class="btn-base">참조자추가</button></p>
            </td>
            <td class="appr-line__confirm-tree">결재자목록</td>
        </tr>
        <tr>
            <td class="appr-line__refer-tree">참조자목록</td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function(){
        GetDepartment();
    });
</script>