@{
    Layout = "_OnlyEnviroment";
}

<div class="content">
    <div class="page-title">결재선지정</div>
    <div class="appr-line__search">
        <span class="lbl-area">이름검색</span>
        <input type="text" name="searchName" maxlength="20" size="20" />
        <button class="btn-search">검색</button>
    </div>

    <div class="appr-line">
        <div class="appr-line__emp-tree">
            <ul id="EmployeeList" class="ztree"></ul>
        </div>
        <div class="appr-line__btn-area">
            <p><button class="btn-base">결재자추가</button></p>
            <p><button class="btn-base">참조자추가</button></p>
        </div>
        <div class="appr-line__select-area">
            <div class="appr-line__confirm-tree">결재자목록</div>
            <div class="appr-line__refer-tree">참조자목록</div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        GetDepartment();
    });
</script>