@{
    Layout = "_MainLayout";
}
<!-- 
    작성자(부서)/기안자(부서)/작성일자
    문서타입/문서번호
    결재자/참조자
    문서제목
 -->
<div class="content">
    <div class="btn-area">
        <button id="btnSetApprovalLine" class="btn-base">결재라인 지정</button>
        <button id="btnSetApprovalLine2" class="btn-base">결재라인 지정</button>
        <button id="" class="btn-base">결재라인 지정</button>
    </div>

    <table class="table table-form">
        <tr>
            <th class="header table-form__header">기안자</th>
            <td class="item table-form__item">&nbsp;</td>
            <th class="header table-form__header">작성일자</th>
            <td class="item table-form__item">&nbsp;</td>
        </tr>
        <tr>
            <th class="header table-form__header">문서타입</td>
            <td class="item table-form__item"></td>
            <th class="header table-form__header">문서번호</td>
            <td class="item table-form__item"></td>
        </tr>
        <tr>
            <th class="header table-form__header">결재라인</td>
            <td class="item table-form__item">결재라인 들어갈 자리</td>
            <th class="header table-form__header">참조자</td>
            <td class="item table-form__item">참조자 들어갈 자리</td>
        </tr>
        <tr>
            <th class="header table-form__header">제목</td>
            <td class="item table-form__item" colspan="3">문서 제목이 들어갈 자리</td>
        </tr>
        <tr>
            <td class="item table-form__item" colspan="4">
                <div id="tinymce-editor"></div>
            </td>
        </tr>
    </table>
</div>