@{
    Layout = "_MainLayout";
}
<!-- 
    작성자(부서)/기안자(부서)/작성일자
    문서타입/문서번호
    결재자/참조자
    문서제목
 -->
<div class="btn-area">
    <button id="btnSetApprovalLine" class="btn-base">결재라인 지정</button>
    <button id="" class="btn-base">결재라인 지정</button>
    <button id="" class="btn-base">결재라인 지정</button>
</div>

<table class="grid approval-form">
    <tr>
        <th class="approval-form__header">기안자</th>
        <td class="approval-form__content">&nbsp;</td>
        <th class="approval-form__header">작성일자</th>
        <td class="approval-form__content">&nbsp;</td>
    </tr>
    <tr>
        <th class="approval-form__header">문서타입</td>
        <td class="approval-form__content"></td>
        <th class="approval-form__header">문서번호</td>
        <td class="approval-form__content"></td>
    </tr>
    <tr>
        <th class="approval-form__header">결재라인</td>
        <td class="approval-form__content">결재라인 들어갈 자리</td>
        <th class="approval-form__header">참조자</td>
        <td class="approval-form__content">참조자 들어갈 자리</td>
    </tr>
    <tr>
        <th class="approval-form__header">제목</td>
        <td class="approval-form__content" colspan="3">문서 제목이 들어갈 자리</td>
    </tr>
    <tr>
        <td class="approval-form__content" colspan="4">
            <div id="tinymce-editor"></div>
        </td>
    </tr>
</table>