@{
    Layout = "_MainLayout";
}

<div class="section">
    <div class="summary-group">
        <div class="summary-box">결재진행중</div>
        <div class="summary-box">결재완료</div>
    </div>
    <div class="summary-group">
        <div class="summary-box">참조문서</div>
        <div class="summary-box">문서작성</div>
    </div>
</div>