/*
    Views/Approval/Write
*/
.grid {
    margin: auto;
    width: 90%;
    border-top: $border;
    border-bottom: $border;
    border-collapse: collapse;
    th {
        padding: 5px 0;
        background-color: #f5f5f5;
        // border: $border;
        border-bottom: $border;
    }
    td {
        padding: 5px 0;
        // text-align: center;
        // border: $border;
        border-bottom: $border;
    }
}

/* 
    /Approval/Write
*/
.preforms {
    @extend .grid;
    td:nth-child(1) {
        width: 40px;
        text-align: center;
    }
    tr:hover {
        background-color: #f7f7f7;
    }
}
.btn-area {
    margin: 5px auto;
    width: 90%;
}
.btn-base {
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    &:hover {
        background-color: #eee;
    }
}
.page-title {
    padding: 3px 10px;
    background-color: #566270;
    color: #fffff3;
    font-size: 24px;
}
.content {
    width: 100%;
    // border: 1px solid red;
}
.appr-line__search {
    margin: 3px 6px;
}
.lbl-area {
    padding: 3px;
    border: 1px solid #aaa;
}
.appr-line {
    margin: 3px 6px;
    width: 98%;
    height: 420px;
    // border: 1px solid red;
    font-size: 12px;
}
.appr-line__emp-tree {
    float: left;
    width: 44%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.appr-line__btn-area {
    float: left;
    height: 100%;
    // border: 1px solid orange;
}
.appr-line__select-area {
    float: left;
    width: 44%;
    height: 100%;
}
.appr-line__confirm-tree,
.appr-line__refer-tree {
    vertical-align: top;
    height: 50%;
    border: 1px solid #ccc;
}

