/*
    Views/Approval/Write
*/
.grid {
    margin: auto;
    width: 100%;
    border-top: $border;
    border-bottom: $border;
    border-collapse: collapse;
    th {
        padding: 5px 0;
        background-color: #f5f5f5;
        // border: $border;
        border-bottom: $border;
    }
    td {
        padding: 5px 0;
        // text-align: center;
        // border: $border;
        border-bottom: $border;
    }
}

/* 
    /Approval/Write
*/
.preforms {
    @extend .grid;
    td:nth-child(1) {
        width: 40px;
        text-align: center;
    }
    tr:hover {
        background-color: #f7f7f7;
    }
}
.preforms__body {
    text-align: center;
}
.btn-area {
    margin: 5px auto;
}
.btn-base {
    margin: 3px 0;
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    &:hover {
        background-color: #eee;
    }
}
