// ##Reserve
$normal-border : 1px solid #ccc;
@mixin cus-border-all($size, $color) {
    border: $size solid $color;
}
@mixin cus-border-top($size, $color) {
    border-top: $size solid $color;
}
@mixin cus-border-bot($size, $color) {
    border-bottom: $size solid $color;
}

// Page Initialize
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 13px;
    overflow: hidden;
}

// .btn-base {
//     padding: 3px 8px 5px 8px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     background-color: transparent;
//     outline: none;
//     &:hover {
//         background-color: #eee;
//         cursor: pointer;
//     }
// }
