// Position & Sizing
#wrap {
    margin: 0 auto;
    width: 1080px;
    min-height: 800px;
    border-left: $border;
    border-right: $border;
    background-color: #fff;
}

/*
    https://www.webdesignrankings.com/resources/lolcolors/
    #566270
    #FFFFF3
    #E0E3DA
    #A593E0
*/
.navi {
    width: 100%;
    height: 40px;
    background-color: #566270;
}
.navi__top-menu {
    list-style: none;
    li {
        padding: 0 15px;
        display: inline-block;
        color: #fffff3;
        line-height: 40px;
    }
}
.container {
    padding: 10px;
    min-height: 800px;
    // border: $border;
}
.footer {
    height: 200px;
    background-color: #566270;
}