// Position & Sizing
/// 사이트 전체 레이아웃
#wrap {
    margin: 0 auto;
    width: 1080px;
    min-height: 800px;
    border-left: $normal-border;
    border-right: $normal-border;
}
#header {
    width: 1080px;
}
#container {
    width: 100%;
    min-height: 800px;
    // background-color: red;
}
#content {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    // background-color: pink;
}
#footer {
    height: 200px;
    background-color: #566270;
}

/*
    https://www.webdesignrankings.com/resources/lolcolors/
    #566270
    #FFFFF3
    #E0E3DA
    #A593E0
*/
.global-navi {
    width: 100%;
    height: 40px;
    background-color: #566270;
}
.global-navi__menu {
    list-style: none;
    li {
        padding: 0 15px;
        display: inline-block;
        color: #fffff3;
        line-height: 40px;
    }
}