
@import "_Initialize";

.content{
    width: 95%;
    margin: 0 auto;
}
.page-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #566270;
    h3 {
        margin: 0 10px;
    }
}
.search-area {
    margin: 10px 0;
    width: 100%;
    height: 30px;
    // border: 1px solid black; 
}
.label {
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
}
.keyword-area {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    .keyword {
        padding: 0 5px;
        width: 95%;
        font-size: 15px;
        border: 0;
        outline: none;
    }
}
.btn-area {
    display: inline-block;
}
.dept-area {
    width: 100%;
    height: 300px;
    // background-color: pink;
}
.dept-list {
    float: left;
    width: 40%;
    height: 280px;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.employee-list {
    display: inline-block;
    margin-left: 10px;
    width: 58%;
    height: 280px;
    border: 1px solid #ccc;
}
.empolyees {
    width: 100%;
    border-collapse: collapse;
    thead {
        background-color: #e1e1e1;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
    td {
        border: 1px solid #ccc;
        border-top: none;
        text-align: center;

        &:nth-child(1) {
            width: 30px;
        }
        &:nth-child(2) {
            width: 30px;
        }
        &:nth-child(4) {
            width: 50px;
        }
    }
}
.emp-tbl__header {
    height: 30px;
}
.emp-tbl__body {
    height: 25px;
}